.general {
    padding: 3px;
}

h1 {
    font-style: normal;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: normal;
    margin-left: 85px;  
}

input {
    width: 286px;
    height: 30px;
    font-style: normal;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    border-style:solid;
    border-radius: 8px;
    border-width: 1px;
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.newTask {
    height: 32px;
    width: 32px;
    font-style: bold;
    font-family: Cambria math;
    font-size: large;
    text-align: center;
    color: white;
    background-color: rgb(108, 168, 106);
    border-radius: 8px;
    border-style: none;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
}

.task {
    width: 300px;
    height: 32px;
    font-style: normal;
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(219, 219, 219);
    text-align: left;
    border-radius: 8px;
    border-style: none;
    padding: 6px;
    margin-right: 10px;
}

.taskDone {
    width: 300px;
    height: 32px;
    font-style: normal;
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(180, 180, 180);
    text-align: left;
    border-radius: 8px;
    border-style: none;
    padding: 6px;
    margin-right: 10px;
}

.deleteTask {
    height: 32px;
    width: 32px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 22px;
    color: white;
    background-color: rgb(181, 100, 36);
    border-radius: 8px;
    border-style: none;
}

.sort {
    font-style: normal;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: white;
    background-color: rgb(85, 126, 179);
    border-radius: 8px;
    border-style: none;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 30px;
    margin-left: 12px;
}

.deleteAll {
    font-style: normal;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: white;
    background-color: rgb(181, 100, 36);
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
}